@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5156f6;
}
@layer components {
  .btn {
    @apply py-2 px-7 text-xs cursor-pointer  rounded-xl ease-in-out duration-300 transition  hover:scale-[97%] hover:opacity-80;
  }
  .gredient {
    @apply bg-gradient-to-r from-blue-500 to-purple-500 text-white font-semibold rounded-xl p-[1.5px];
  }
}
