@use '@/assets/styles/variables.scss' as *;

.el-button--large {
  --el-button-size: #{$height-button} !important;
  padding: 1rem 2rem !important;
}
.el-button--info {
  --el-button-text-color: black !important ;
  --el-button-hover-text-color: black !important ;
  --el-color-info: #{$info} !important;
}
