@use '@/assets/styles/_tokens.scss' as *;

.el-tabs__nav {
  float: unset !important;

  &-wrap {
    &::after {
      background: transparent !important;
    }

    &.is-top {
      width: fit-content !important;
    }
  }
}