@use '@/assets/styles/variables.scss' as *;

.el-card {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.01),
    0px 1px 12px 0px rgba(0, 0, 0, 0.02) !important;
  border-color: #e7e6e9 !important;
  border-radius: 20px !important;
  background-color: white !important;
  overflow: visible !important;
}

.el-card__body {
  height: 100% !important;
  padding: 0px !important;
}
