// app colors
$primary: #7849ff;
$primary-hover: #9360ff;
$primary-light: #f8f7fa;
$primary-light-hover: #9360ff;
$primary-light-active: #c2b6c1;
$brown: #686252;
$brown-light: #686252;
$sucess: #2fb350;
$danger: #bf2c24;
$gray: #7d7d7d;
$info: #e7e7e7;
$error: rgb(255, 104, 104);
$yellow: #bf9900;
//
$border: #ced1dc;
$background-light: #f5f5f5;
$padding-primary: 40px;
//
$raduis-base: 2rem;
$raduis-md: 0.5rem;
$raduis-lg: 1rem;
//
$height-input: 56px;
$height-button: 44px;