@use "tokens" as *;

@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('primary': ('base': $primary,
    ),
    // 'success' : (
    //   'base': $sucess,
    // ),
    // 'danger' : (
    //   'base': $danger,
    // ),
    // 'warning' : (
    //   'base': $brown,
    // ),,,,,,,,,,
  ),
  $fill-color: ('dark': $primary,
    'light': $primary-light,
  ),
  $border-radius: ('base': $raduis-base,
    'small': 2px,
    'round': 20px,
    'circle': 100%,
  ),

  $select-dropdown: ('padding': 1rem,
  ),
  $border-color-hover: $primary-hover,

  $pagination: ('item-gap': 20px,
  ),
  $dropdown: ('padding': 1rem,
  ),

  $common-component-size: ('large': $height-input,
  ),
  $popper: ('border-radius': $raduis-base,
    'padding': 1rem,
    'border': none,
  ),
  $dialog: ('title-font-size': 24px,
    'border-radius': $raduis-base,
  ));

@use 'element-plus/theme-chalk/src/index.scss' as *;

.el-menu,
.navbar {
  border-color: transparent !important;
}